<a routerLink="/contatos"><img src="assets/seta-esquerda.png" alt="Seta clicável para voltar para a página anterior"></a>
<h2>Contato</h2>
<div class="div-container">
    <div class="div-contato">
        <label for="id">ID</label> <input readonly id="id" placeholder="Id" type="number" [(ngModel)]="id">
        <label for="nome">Nome</label> <input id="nome" placeholder="Nome" type="text" [(ngModel)]="nome">
        <label for="nomeMeio">Nome do Meio</label> <input id="nomeMeio" placeholder="Nome do Meio" type="text" [(ngModel)]="nomeMeio">
        <label for="sobrenome">Sobrenome</label> <input id="sobrenome" placeholder="Sobrenome" type="text" [(ngModel)]="sobrenome">
        <label for="cpf">CPF</label> <input id="cpf" placeholder="CPF" type="text" [(ngModel)]="cpf">
        <label for="tel">Telefone</label> <input id="telefone" placeholder="Telefone" type="tel" [(ngModel)]="telefone">
        <label for="email">E-Mail</label> <input id="email" placeholder="E-mail" type="email" [(ngModel)]="email">
    </div>
</div>
<div  class="div-btns">
    <button (click)="putContato()" class="btn-put">Salvar</button>
    <button (click)="deleteContato()" class="btn-delete">Excluir</button>
</div>
<button (click)="postContato()" class="btn-post">Cadastrar</button>