header{
    text-align: center;
    background-color: #004a98;
    color: white;
    margin: 0;
    height: 30vh;
    width: 100%;
}

header h1{
    margin: 0;
    font-size: 68px;
    line-height: 30vh;
    color: white;
}

header img{
    position: absolute;
    left: 285px;
    top: 23px;
    width: 10%;
}

a img{
    margin: 2% 0 0 2%;
    width: 4%;
}
